.favorites {
  padding-top: 60px;
  padding-bottom: 60px;
}

.favorites__title {
  text-align: center;
}

.favorites__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $color-text;
}

.favorites__list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.favorites__item {
  padding: 18px 17px;
  border: 11px solid #ffe550;
  border-radius: 139px;
  object-fit: contain;
}

.mob-none {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
