.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  background-image: url(../images/mobile/footer/apple-left-mob-min.png),
    url(../images/mobile/footer/orange-mob-min.png),
    url(../images/mobile/footer/fruit-bottom-mob-min.png);
  background-size: 110px 116px, 104px 256px, 253px 66px;
  background-repeat: no-repeat;
  background-position: left top 133px, top right, bottom;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/footer/apple-left-mob@2x-min.png),
      url(../images/mobile/footer/orange-mob@2x-min.png),
      url(../images/mobile/footer/fruit-bottom-mob@2x-min.png);
  }
  @include tablet {
    background-image: url(../images/tablet/footer/orange-left-tablet-min.png),
      url(../images/tablet/footer/fruit-bottom-tablet-min.png);
    background-size: 203px 365px, 768px 506px;
    background-repeat: no-repeat;
    background-position: top right, center bottom;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/footer/orange-left-tablet@2x-min.png),
        url(../images/tablet/footer/fruit-bottom-tablet@2x-min.png);
    }
  }
  @include desktop {
    background-image: url(../images/desktop/footer/fruit-desktop-min.png);
    background-size: 1211px 266px;
    background-repeat: no-repeat;
    background-position: right bottom;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/footer/fruit-desktop@2x-min.png);
    }
  }
}
.footer__container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  @include mobile {
    width: 480px;
    margin: 0 auto;
  }
  @include tablet {
    padding-top: 100px;
    padding-bottom: 205px;
    width: 768px;
  }
  @include desktop {
    width: 1280px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.holder {
  @include desktop {
    display: flex;
  }
}
.footer__container-nav {
  display: flex;
  align-items: flex-start;
  @include tablet {
    align-items: center;
  }
}
.footer__container-form {
  margin-top: 40px;
  margin-bottom: 0;
  @include desktop {
    margin-top: 0;
    margin-left: 320px;
  }
}
.footer-form__label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $color-text;
}
.input-box {
  margin-top: 12px;
  @include tablet {
    display: flex;
    align-items: flex-start;
    gap: 13px;
  }
}
.privacy-police {
  margin-top: 20px;
  font-size: 10px;
  line-height: 1.2;
  color: $color-text;
  @include tablet {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.16;
  }
}
.privacy-police__link {
  font-size: 10px;
  line-height: 1.2;
  color: $bg-dark-green;
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
  }
}
.footer-box-bottom {
  @include tablet {
    display: flex;
    gap: 236px;
    margin-top: 100px;
  }
  @include desktop {
    gap: 0;
    justify-content: space-between;
    margin-top: 80px;
  }
}
.footer__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  @include tablet {
    justify-content: flex-start;
    gap: 20px;
    margin-top: 0;
  }
}
.footer__link {
  font-size: 10px;
  line-height: 1.2;
  color: $bg-dark-green;
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
  }
}
.footer__text {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 10px;
  line-height: 1.2;
  color: $color-text;
  @include tablet {
    margin-top: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}
