body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: $color-text;
  background-color: $bg-main;

  @include tablet {
    font-size: 16px;
  }
}

.container {
  padding: 0px 20px;
  margin: 0px auto;
  width: 100%;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding: 0 32px;
  }

  @include desktop {
    width: 1280px;
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link-accent {
  /* Transition */
  transition-property: color $transition;

  &:hover,
  &:focus {
    color: $bg-light-green;
  }
}

.input {
  display: block;
  padding: 12px;
  min-width: 279px;
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #ffe550;
  border-radius: 30px;
  font-size: 12px;
  line-height: 1.5;
  color: #2c2c2c;
  @include tablet {
    width: 279px;
  }
}