body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
  width: 100%;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link-accent {
  /* Transition */
  transition-property: color $transition;

  &:hover,
  &:focus {
    color: $bg-light-green;
  }
}
