.hero {
  padding-top: 60px;
  padding-bottom: 50px;
  @include tablet {
    padding-bottom: 0px;
    position: relative;
  }
}
.hero__title {
  margin-bottom: 28px;
  @include tablet {
    max-width: 537px;
    margin-bottom: 44px;
  }
}
.hero__text {
  margin-bottom: 28px;
  line-height: 1.5;
  color: $color-text;
  @include tablet {
    margin-bottom: 40px;
    width: 336px;
  }
}
@include tablet {
  .border {
    position: absolute;
    width: 320px;
    height: 320px;
    border: 14px solid $bg-yellow;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 149px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 28px;
  width: 34px;
  color: #2c2c2c;
  border: none;
  background-color: $bg-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  transition: color $transition;

  &:hover {
    color: $bg-dark-green;
  }
}

.border__svg {
  fill: currentColor;
}

.swiper-button-next:after,
.swiper-button-prev::after {
  content: '';
}
