.hero {
  padding-top: 132px;
  padding-bottom: 50px;
  @include tablet {
    padding-bottom: 0px;
  }
  @include desktop {
    padding-top: 231px;
  }
}
.hero__container {
  position: relative;
}
.hero__title {
  margin-bottom: 28px;
  @include tablet {
    max-width: 537px;
    margin-bottom: 44px;
  }
  @include desktop {
    font-size: 48px;
    max-width: 502;
  }
}
.hero__text {
  margin-bottom: 28px;
  line-height: 1.5;
  color: $color-text;
  @include tablet {
    margin-bottom: 40px;
    width: 336px;
  }
  @include desktop {
    width: 502px;
  }
}

.border {
  width: 320px;
  height: 320px;
  border: 14px solid $bg-yellow;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 89px;
  transition: border $transition;

  display: none;

  &:hover {
    border: 14px solid $bg-light-green;
  }
  @include tablet {
    display: block;
  }
  @include desktop {
    top: -145px;
    width: 580px;
    height: 580px;
    border: 26px solid $bg-yellow;
    &:hover {
      border: 26px solid $bg-light-green;
    }
  }
}

.swiper {
  position: absolute;
  width: 320px;
  height: 320px;
  border: 14px solid $bg-yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: border $transition;
  &:hover {
    border: 14px solid $bg-light-green;
  }
  @include desktop {
    width: 580px;
    height: 580px;
    border: 26px solid $bg-yellow;
    &:hover {
      border: 26px solid $bg-light-green;
    }
  }
}

.swiper-wrapper {
  transition: $transition;
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 2;
  height: 28px;
  width: 34px;
  color: #2c2c2c;
  border: none;
  background-color: $bg-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: color $transition;
  transition: box-shadow $transition;
  &:hover {
    color: $bg-dark-green;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  &:hover .border__svg {
    fill: $bg-dark-green;
  }
  @include desktop {
    height: 40px;
    width: 48px;
  }
}
.border__svg {
  fill: currentColor;
  transition: fill $transition;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 4px 9px 4px 13px;
  transform: translateX(70%);
  @include desktop {
    transform: translateX(80%);
    padding: 5px 13px 5px 18px;
  }
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 4px 13px 4px 9px;
  transform: translateX(-70%);
  @include desktop {
    transform: translateX(-80%);
    padding: 5px 18px 5px 13px;
  }
}
