.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(94, 99, 99, 0.7);
  opacity: 1;

  transition: opacity $transition;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100vw;
  max-width: 458px;
  min-height: 449px;
  padding: 32px 20px;

  background-color: $bg-yellow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition;

  @include tablet {
    padding: 32px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 50%;
  border: none;

  cursor: pointer;

  transition: fill $transition;

  &:hover,
  &:focus {
    fill: $bg-yellow;
  }
}

.modal__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form__name {
  margin-bottom: 2px;
  padding-left: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.order-form__input {
  margin-bottom: 24px;
  max-width: 440px;
  height: 48px;

  border-color: $bg-dark-green;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);

  &::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  @include tablet {
    width: 394px;
  }
}

.order-form__button {
  min-width: 106px;
  align-self: center;

  &:hover,
  &:focus {
    background-color: $bg-light-green;
  }
}
