.footer__nav {
  margin-left: 81px;
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__list--footer {
  padding-top: 4px;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}

.footer-container--top {
  margin-top: 40px;
  margin-bottom: 0;
}

.container {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
}
.nav {
  display: flex;
  align-items: center;

  &__list {
    margin-right: 30px;
  }

  &__item {
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
.list {
  display: flex;
  gap: 28px;
}
