.nav {
  display: flex;
  align-items: center;

  &__list {
    margin-right: 30px;
  }

  &__item {
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
.list {
  display: flex;
  gap: 28px;
}
