.offerings {
  padding-bottom: 60px;
  padding-top: 41px;

  background-image: url('../images/mobile/offerings/bg-offerings-mob.png');
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url('../images/mobile/offerings/bg-offerings-mob@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include tablet {
    padding-top: 150px;
    padding-bottom: 100px;
    background: url('../images/tablet/offerings/bg-offerings-tab.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url('../images/tablet/offerings/bg-offerings-tab@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @include desktop {
    padding-top: 177px;
    padding-bottom: 43px;
    background: url('../images/desktop/offerings/bg-offerings-desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url('../images/desktop/offerings/bg-offerings-desk@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.offerings__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offerings__list {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

.offerings__title {
  margin-bottom: 28px;
  margin-top: 60px;

  width: 280px;
}

.offerings__subtitle {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: calc(21 / 18);
}

.offerings__text {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: calc(16 / 14);
}

.offerings__subtext {
  font-size: 14px;
  line-height: calc(16 / 14);
}

.offerings__item::before {
  content: '';
  display: block;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  background-color: $white-color;
  border-radius: 50%;
  background-image: url('../images/mobile/offerings/rocket.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.offerings__item--touch::before {
  background-image: url('../images/mobile/offerings/touch.svg');
}

.offerings__button {
  display: inline-flex;
  align-items: center;

  margin-left: 24px;

  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: $black-color;
  background-color: transparent;
}

.offerings__icon {
  margin-left: 4px;
}

.offerings__thumb {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
  }
}
