.offerings__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  @include desktop {
    flex-direction: row;
    gap: 90px;
  }
  background-image: url('../images/mobile/offerings/bg-offerings-mob.png');
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url('../images/mobile/offerings/bg-offerings-mob@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include tablet {
    padding-bottom: 100px;
    background: url('../images/tablet/offerings/bg-offerings-tab.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url('../images/tablet/offerings/bg-offerings-tab@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @include desktop {
    padding-bottom: 0;
    background: url('../images/desktop/offerings/bg-offerings-desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url('../images/desktop/offerings/bg-offerings-desk@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.offerings__content {
  @include desktop {
    max-width: 573px;
    padding-top: 260px;
    padding-bottom: 100px;
  }
}

.offerings__img-container {
  padding-top: 41px;

  display: flex;
  justify-content: center;

  @include tablet {
    padding-top: 150px;
    justify-content: left;
    align-items: center;
    gap: 29px;
  }
}

.offerings__title {
  margin-bottom: 28px;
  margin-top: 60px;

  @include tablet {
    max-width: 526px;
  }
}
.offerings__text {
  margin-bottom: 28px;

  line-height: calc(16 / 14);
  @include tablet {
    max-width: 500px;
    margin-bottom: 40px;
  }
  @include desktop {
    line-height: 1.5;
  }
}

.offerings__list {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  @include tablet {
    gap: 116px;
  }
  @include desktop {
    gap: 67px;
  }
}

.offerings__item {
  @include tablet {
    width: calc((100% - 116px) / 2);
  }
  @include desktop {
    width: calc((100% - 67px) / 2);
  }
}

.offerings__subtitle {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: calc(21 / 18);
}

.offerings__subtext {
  font-size: 14px;
  line-height: calc(16 / 14);
  @include desktop {
    line-height: 1.5;
  }
}

.offerings__item::before {
  content: '';
  display: block;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  background-color: $white-color;
  border-radius: 50%;
  background-image: url('../images/mobile/offerings/rocket.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.offerings__item--touch::before {
  background-image: url('../images/mobile/offerings/touch.svg');
}

.offerings__btn-wrapper {
  margin-top: 28px;
  @include tablet {
    margin-top: 40px;
  }
}

.offerings__button {
  display: inline-flex;
  align-items: center;

  margin-left: 24px;

  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  color: $black-color;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $bg-dark-green;
    fill: $bg-dark-green;
  }
}

.offerings__icon {
  margin-left: 4px;
}

.offerings__thumb {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    align-items: baseline;
    gap: 44px;
  }
}
