$color-text: #2c2c2c;

$white-color: #ffffff;
$black-color: #000000;

$color-input-text: #505050;

$bg-white: #ffffff;
$bg-yellow: #ffe550;
$bg-light-green: #bbf330;
$bg-dark-green: #7eb101;

$bg-light-green-hover: #b5ff00;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
