<footer class="footer">
  <div class="container">
    <div class="footer__container--top">
      <span class="logo"></span>
      <nav class="footer__nav nav">
        <ul class="nav__list nav__list--footer list">
          <li class="nav__item">
            <a href="#" class="nav__link link-accent">About</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-accent">Service</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-accent">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-accent">Menu</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link link-accent">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-container--top">
      <form class="footer-form">
        <label for="user_email" class="footer-form__label">Subscribe</label>
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          id="user_email"
          class="footer-form__input"
          style="font-size: 12px; line-height: 150%; color: #505050"
        />
        <button type="submit" class="footer-form__button">Subscribe</button>
      </form>
      <p class="privacy-police">
        By subscribing you agree to with our
        <a href="#" class="privacy-police__link"> Privacy Policy</a>
      </p>
      <ul class="footer__list list">
        <li class="footer__item">
          <a href="#" class="footer__link">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Terms of Service</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
