<header>
  <div class="container container__header">
    <a href="#" class="logo logo"
      ><img
        src="../src/images/desktop/logo.png"
        alt="Логотип"
        width="66"
        height="52"
    /></a>
    <nav class="nav">
      <button type="button" class="burger">
        <svg class="burger__icon">
          <use href="../src/images/sprite.svg#menu"></use>
        </svg>
      </button>
      <ul class="nav__list list">
        <li class="nav__item link-accent">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item link-accent">
          <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item link-accent">
          <a href="#" class="nav__link">Service</a>
        </li>
        <li class="nav__item link-accent">
          <a href="#" class="nav__link">Menu</a>
        </li>
        <li class="nav__item link-accent">
          <a href="#" class="nav__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="button button--green">Order Now</button>
    </nav>
  </div>
</header>
