<header>
  <div class="container container__header">
    <a href="#" class="logo logo__header"
      ><img
        src="../src/images/desktop/logo.png"
        alt="Логотип"
        width="66"
        height="52"
    /></a>
    <nav class="header-nav">
      <ul class="header-nav__list list">
        <li class="header-nav__item link-accent">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="header-nav__item link-accent">
          <a href="#" class="header-nav__link">About</a>
        </li>
        <li class="header-nav__item link-accent">
          <a href="#" class="header-nav__link">Service</a>
        </li>
        <li class="header-nav__item link-accent">
          <a href="#" class="header-nav__link">Menu</a>
        </li>
        <li class="header-nav__item link-accent">
          <a href="#" class="header-nav__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="button button--green">Order Now</button>
    </nav>
  </div>
</header>
