<section class="section-subscribe" id="subscribe">
  <div class="container container__subscribe">
    <div class="section-suscribe__text-wrapper">
      <h2 class="title title-subscribe">Subscribe To Get Special Offers</h2>
      <p class="section-suscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="suscribe-form">
        <label for="user_email" class="suscribe-form__label"></label>
        <div>
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            id="user_email"
            class="input subscribe-form__input"
            required
          />
          <p class="error">Not a valid email address (example@email.com)</p>
        </div>
        <button type="submit" class="button button--green-big">
          Subscribe
        </button>
      </form>
    </div>
    <div class="section-subscribe__img-wrapper">
      <picture class="section-customers__img">
        <source
          srcset="
            ./images/desktop/subscribe/banan-desktop.png    1x,
            ./images/desktop/subscribe/banan-desktop@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/tablet/subscribe/banan-tablet.png    1x,
            ./images/tablet/subscribe/banan-tablet@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/mobile/subscribe/banan-mobile.png    1x,
            ./images/mobile/subscribe/banan-mobile@2x.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./images/desktop/subscribe/banan-desktop.png "
          alt="banana"
          class="section-customers_img"
          width="608"
        />
      </picture>
    </div>
  </div>
</section>
