<section class="hero">
  <div class="container">
  <h1 class="title hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <button type="button" class="button  button--green">Order Now</button>
  </div>
  <div class="border swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <picture class="border__picture">
        <source
          srcset="./images/tablet/food/photo1-tab-1x.png 1x,
          ./images/tablet/food/photo1-tab-2x.png 2x" 
          media="(min-width:768px)">
        <img
          src="./images/tablet/food/photo1-tab-1x.png"
          alt="food"
          width="292">
       </picture>
    </div>
    <div class="swiper-slide">
      <picture class="border__picture">
      <source
        srcset="./images/tablet/food/photo2-tab-1x.png 1x,
        ./images/tablet/food/photo2-tab-2x.png 2x" 
        media="(min-width:768px)">
      <img
        src="./images/tablet/food/photo2-tab-1x.png"
        alt="food"
        width="292">
     </picture>
  </div>
  <div class="swiper-slide">
    <picture class="border__picture">
    <source
      srcset="./images/tablet/food/photo3-tab-1x.png 1x,
      ./images/tablet/food/photo3-tab-2x.png 2x" 
      media="(min-width:768px)">
    <img
      src="./images/tablet/food/photo3-tab-1x.png"
      alt="food"
      width="292">
   </picture>
  </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  </div>
</section>