<section class="section-customers">
  <div class="container container__customers">
    <h2 class="title title-customers">What our Customers Say</h2>
    <p class="section-customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="cards-list list">
      <li
        class="cards-list__item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <ul class="stars-list list">
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="cards-list__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="cards-list__thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/customers/person1-desktop.png    1x,
                ./images/desktop/customers/person1-desktop@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/tablet/customers/person1-tablet.png    1x,
                ./images/tablet/customers/person1-tablet@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/mobile/customers/person1.png    1x,
                ./images/mobile/customers/person1@2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/mobile/customers/person1.png"
              alt="photo of the person"
              class="cards-list__image"
              width="48"
              height="48"
            />
          </picture>
          <div class="cards-list__text-wrapper">
            <h3 class="cards-list__name">Sumith Shah</h3>
            <p class="cards-list__description">Some Dude</p>
          </div>
        </div>
      </li>
      <li
        class="cards-list__item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <ul class="stars-list list">
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars-list__item">
            <svg class="stars-list__icon" width="16" height="16">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="cards-list__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="cards-list__thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/customers/person2-desktop.png    1x,
                ./images/desktop/customers/person2-desktop@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/tablet/customers/person2-tablet.png     1x,
                ./images/tablet/customers/person2-tablet.@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/mobile/customers/person2.png    1x,
                ./images/mobile/customers/person2@2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./images/mobile/customers/person2.png"
              alt="photo of the person"
              class="cards-list__image"
              width="48"
              height="48"
            />
          </picture>
          <div class="cards-list__text-wrapper">
            <h3 class="cards-list__name">Sumith Shah</h3>
            <p class="cards-list__description">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
