<section class="favorites" id="favorites">
  <div class="container">
    <h2 class="favorites__title title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li
        class="favorites__item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <picture>
          <source
            srcset="
              ./images/desktop/favorites/gamburger-desktop-min.png    1x,
              ./images/desktop/favorites/gamburger-desktop@2x-min.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/tablet/favorites/gamburger-tablet-min.png    1x,
              ./images/tablet/favorites/gamburger-tablet@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/favorites/gamburger-mob-min.png    1x,
              ./images/mobile/favorites/gamburger-mob@2x-min.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/mobile/favorites/gamburger-mob-min.png"
            alt="gamburger"
            class="card"
          />
        </picture>
      </li>
      <li
        class="favorites__item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <picture>
          <source
            srcset="
              ./images/desktop/favorites/pasta-desktop-min.png    1x,
              ./images/desktop/favorites/pasta-desktop@2x-min.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/tablet/favorites/pasta-tablet-min.png    1x,
              ./images/tablet/favorites/pasta-tablet@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/favorites/pasta-mob-min.png    1x,
              ./images/mobile/favorites/pasta-mob@2x-min.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/mobile/favorites/pasta-mob-min.png" alt="Pasta" />
        </picture>
      </li>
      <li
        class="favorites__item"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <picture>
          <source
            srcset="
              ./images/desktop/favorites/pizza-desktop-min.png    1x,
              ./images/desktop/favorites/pizza-desktop@2x-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/pizza-tablet-min.png    1x,
              ./images/tablet/favorites/pizza-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/mobile/favorites/pizza-mob-min.png    1x,
              ./images/mobile/favorites/pizza-mob@2x-min.png 2x
            "
            media="(max-width:767px)" />
          <img src="./images/mobile/favorites/pizza-mob-min.png" alt="pizza"
        /></picture>
      </li>
      <li
        class="favorites__item mob-none"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <picture>
          <source
            srcset="
              ./images/desktop/favorites/chicken-desktop-min.png    1x,
              ./images/desktop/favorites/chicken-desktop@2x-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/chicken-tablet-min.png    1x,
              ./images/tablet/favorites/chicken-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/desktop/favorites/chicken-desktop-min.png"
            alt="chicken"
        /></picture>
      </li>
      <li
        class="favorites__item mob-none"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <picture>
          <source
            srcset="
              ./images/desktop/favorites/salat-desktop-min.png    1x,
              ./images/desktop/favorites/salat-desktop@2x-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/salat-tablet-min.png    1x,
              ./images/tablet/favorites/salat-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/desktop/favorites/salat-desktop-min.png"
            alt="salat"
        /></picture>
      </li>
      <li
        class="favorites__item mob-none"
        data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
      >
        <picture>
          <source
            srcset="
              ./images/desktop/favorites/borshch-desktop-min.png    1x,
              ./images/desktop/favorites/borshch-desktop@2x-min.png 2x
            "
            media="(min-width:1280px)" />
          <source
            srcset="
              ./images/tablet/favorites/borshch-tablet-min.png    1x,
              ./images/tablet/favorites/borshch-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/desktop/favorites/borshch-desktop-min.png"
            alt="borshch"
        /></picture>
      </li>
    </ul>
  </div>
</section>
