<section class="offerings">
  <div class="container offerings__container">
    <img src="./images/mobile/offerings/apple.png" alt="Зелене яблуко" />
    <ul class="offerings__list list">
      <li>
        <h2 class="offerings__title title">
          What’s Special About Our Offerings
        </h2>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </li>
      <li class="offerings__item">
        <h3 class="offerings__subtitle">Fastest Delivery</h3>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings__item">
        <h3 class="offerings__subtitle">Easy to order</h3>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>

      <li>
        <button type="button" class="button">Order Now</button>
        <a href="#">Read More</a>
      </li>
    </ul>
  </div>
</section>
