<section class="favorites">
  <div class="container">
    <h2 class="favorites__title title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/tablet/favorites/gamburger-tablet-min.png    1x,
              ./images/tablet/favorites/gamburger-tablet@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/favorites/gamburger-mob-min.png    1x,
              ./images/mobile/favorites/gamburger-mob@2x-min.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/mobile/favorites/gamburger-mob-min.png"
            alt="gamburger"
            class="card"
            width="223"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/tablet/favorites/pasta-tablet-min.png    1x,
              ./images/tablet/favorites/pasta-tablet@2x-min.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/favorites/pasta-mob-min.png    1x,
              ./images/mobile/favorites/pasta-mob@2x-min.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./images/mobile/favorites/pasta-mob-min.png"
            alt="Pasta"
            width="223"
          />
        </picture>
      </li>
      <li class="favorites__item">
        <picture>
          <source
            srcset="
              ./images/tablet/favorites/pizza-tablet-min.png    1x,
              ./images/tablet/favorites/pizza-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./images/mobile/favorites/pizza-mob-min.png    1x,
              ./images/mobile/favorites/pizza-mob@2x-min.png 2x
            "
            media="(min-width:320px)" />
          <img
            src="./images/mobile/favorites/pizza-mob-min.png"
            alt="pizza"
            width="223"
        /></picture>
      </li>
      <li class="favorites__item mob-none">
        <picture>
          <source
            srcset="
              ./images/tablet/favorites/chicken-tablet-min.png    1x,
              ./images/tablet/favorites/chicken-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/tablet/favorites/chicken-tablet-min.png"
            alt="chicken"
            width="223"
        /></picture>
      </li>
      <li class="favorites__item mob-none">
        <picture>
          <source
            srcset="
              ./images/tablet/favorites/salat-tablet-min.png    1x,
              ./images/tablet/favorites/salat-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/tablet/favorites/salat-tablet-min.png"
            alt="salat"
            width="223"
        /></picture>
      </li>
      <li class="favorites__item mob-none">
        <picture>
          <source
            srcset="
              ./images/tablet/favorites/borshch-tablet-min.png    1x,
              ./images/tablet/favorites/borshch-tablet@2x-min.png 2x
            "
            media="(min-width:768px)" />
          <img
            src="./images/tablet/favorites/borshch-tablet-min.png"
            alt="borshch"
            width="223"
        /></picture>
      </li>
    </ul>
  </div>
</section>
